/* universal */
* {
    text-decoration: none;
    color: inherit;
    
}

a:hover {
    color: #0077cc;
    text-decoration: underline;
}
/* header */
nav {
    text-align: center;
}



.Ryan-img {
    width: auto;
    height: 150px;
}


/* about */



/* Projects */



/* contact */


/* footer */