/* universal */

* {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
    font-family: "Courier New", 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a:hover {
    color: #0077cc;
    text-decoration: underline;
}
h2 {
    border: #9bd18958 3px solid;
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
}


/* header */

nav {
    display: flex;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: #d3d3c4;
    box-shadow: 5px 5px 19px rgba(30, 238, 89, 0.15);
}

.nav-links {
    display: flex;
    flex: 1;
    padding-left: 3rem;
} 
.nav-links a {
  flex: 1;
  text-align: center;       
  color: #333;
  font-weight: 700;
  font-size: 1.1rem;
  padding: 1.5rem 0.5rem; 
}
.brand {
    text-align: center;
    margin-top: 0.5rem;
    
}
.brand p {
    margin-top: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bio-summary {
  font-weight: 500;         
  font-size: 0.9rem;          
  color: #39612c;         
  margin: 0.2rem 0 1rem 0;  
  text-align: center;
}


/* about */

#Ryan-img {
    width: auto;
    height: 350px;
    border-radius: 3%;
    margin-top: 3rem;

}
.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    list-style: none;
}
.skills-box {
    min-width: 220px;
    overflow-x: auto;
}
.skills-box h2 {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1px;
}
.skills-list span {
  display: block;
  text-align: center;
}
.skilss-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skill-icon {
    width: 95px;
    height: 95px;
    border-radius: 9%;
}
.about-container {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}
.worked-on {
    text-align: center;
    margin-top: 1rem;
    border: none;
}
#about h2 {
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
.about-me-bio {
    line-height: 1.7;
    margin-bottom: 1.5rem;
    padding: 1rem 3rem;
}


/* Projects */
#projects h2 {
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
#projects h3, #projects p, #projects a {
    text-align: center;
    margin-bottom: 1rem;
}
#projects a, figcaption{
    display: block; 
    text-align: center;    
    margin: 0 auto 1rem;   
    padding: 0.5rem 1rem;
    color: #333;
    font-weight: 500;

}
#projects p {
    width: 70%;
    text-align: center;
    margin: 0 auto 1rem;;
}

.project-img-1, .project-img-2, .project-img-3 {
  width: 65%;
  max-width: 1200px; 
  height: auto;
  display: block;
  margin: 0 auto;;
}





/* Contact */


/* Footer */