/* universal */

* {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
    font-family: "Courier New", 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a:hover {
    color: #0077cc;
    text-decoration: underline;
}
.section-heading {
    background-color: #445e3c58;
    border-radius: 5px;
    padding: 1.5rem 0;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 3rem; 
}
body {
   background-color: #dbdbd3 ;
}

/* header */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    background-color: #b8b8a8;
}

.nav-links {
    display: flex;
    gap: 2.3rem;
    justify-content: center;
    align-items: center;
} 
.nav-links a {
  flex: 1;
  text-align: center;       
  color: #333;
  font-weight: 700;
  font-size: 1.1rem;
  padding: 0.5rem 0.5rem; 
}
.brand {
    text-align: center;
    margin-top: 0.5rem;
    
}
.brand p {
    margin-top: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bio-summary {
  font-weight: 500;         
  font-size: 0.9rem;          
  color: #39612c;         
  margin: 0.2rem 0 1rem 0;  
  text-align: center;
}


/* about */

#Ryan-img {
    width: 370px;
    height: 350px;
    border-radius: 3%;
    margin-top: 3rem;
    margin-left: 1px;

}
.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    list-style: none;
}
.skills-box {
    min-width: 230px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.skills-list span {
  display: block;
  text-align: center;
}
.skilss-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skill-icon {
    width: 95px;
    height: 95px;
    border-radius: 9%;
    border: 4px solid black;
}
.about-container {
    display: flex;
    gap: 3rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 1rem;
    padding: 0 1rem;
}
.worked-on {
    align-self: center;
    margin-bottom: 3rem;;
}
.about-me-bio {
    line-height: 1.7;
    margin-bottom: 1.5rem;
    padding: 1rem 3rem;
}


/* Projects */

#projects h3, #projects p{
    text-align: center;
    margin-bottom: 1rem;
    line-height: 30px;
}
.view-project {
    width: 100%;
    text-align: center;

}
.view-project a {
    display: inline-block;
    background-color: #84b73061;
    font-weight: 550;
    margin-top: 1.9rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}
figcaption {
    display: block; 
    text-align: center;    
    margin: 0 auto 1rem;   
    padding: 0.5rem 1rem;
    color: #333;
    font-weight: 500;

}
#projects p {
    width: 45%;
    text-align: center;
    margin: 3rem auto 0.5rem;;
}

.project-img{
  width: 65%;
  max-width: 1200px; 
  height: auto;
  display: block;
  margin: 0 auto;;
  border-width: 700px;
  border-radius: 10px;
}
#project-1 img{
    border-radius: 2%;
}


.project {
    margin-top: 4rem;
}




/* Contact */
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 70%;
    margin: 0 auto 3rem;
}
#form-submit-button {
    width: 100px;
    height: 40px;
    background-color: #69bc4d50;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}



/* Footer */